.portfolio-container {
  h1 {
    font-size: 4em;
    padding: 25px;
    font-weight: bolder;
  }
  .hero-body {
    background-color: $green;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .pop-container {
    background-color: black;
    border: 15px solid white;
    @include FLEXED(column, center, center);
    margin-bottom: 20px;
  .project-container, .card {
    cursor: default;
    .project-overlay {
      transition: opacity .2s linear;
      background: $darkTransparent;
      z-index: 999;
      opacity: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        color: white;
        font-size: 3em;
      }
    }
    .project {
      position: relative;
      cursor: pointer;
      &:hover {
        .project-overlay {
          transition: opacity .2s linear;
          opacity: 1;
        }
      }
    }
    min-width: 400px;
    max-width: 625px;
    p.title {
      font-size: 2em;
      color: $grey;
    }
    p.subtitle {
      font-size: 1.2em;
      color: $grey;
    }
    a {
      transition: color .3s linear;
      color: $grey;
      &:hover {
        transition: color .3s linear;
        color: black;
      }
    }
    .icon {
      margin-right: 20px;
    }
    .card-footer-item {
      &:hover {
        border-right: solid 1px black;
      }
    }
  }
}
  @media screen and (max-width: 650px){
    .project-container, .card {
      min-width: 400px;
      max-width: 625px;
    }
  }
}
