.project-container {
  .modal.is-active {
    cursor: default;
    .bordered {
      border: 2px solid $grey;
    }
    .modal-card {
        height: 90vh;
        width: 90vw;
        overflow: hidden;
      .modal-card-head {
        background-color: $red;
      }
      .modal-card-body {
        @include FLEXED(row, space-around, center);
        flex-wrap: wrap;
        overflow-y: scroll;
      }
      .modal-content {
        max-height: 300px;
        min-height: 80px;
        height: 300px;
        margin: 0px;
        padding: 20px;
      }
    }
  }
}
