@mixin FLEXED( $dir, $hor, $vert){

  display: flex;
  flex-direction:  $dir;
  justify-content: $hor;
  align-items:     $vert;
  align-content:   $vert;

}

@mixin ABSOLUTELY( $top, $right, $bottom, $left ){

  position: absolute;
  top:    $top;
  right:  $right;
  bottom: $bottom;
  left:   $left;

}

$red: rgb(249, 53, 53);
$grey: #69707A;
$green: #97CD76;
$darkTransparent: rgba(32, 32, 31, 0.55);
