<div class="about-container">
  <section class="info">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src="/images/bw.jpg" alt="Photo of Ben Lee">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-32x32">
              <img src="/images/jslogo.jpg" alt="javascript logo">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-5">Benjamin Lee</p>
            <p class="subtitle is-6">Full Stack Software Engineer</p>
          </div>
        </div>
        <div class="content">
          <p>
            Prior to code I was a blue collar worker getting by performing manual labor.
            Realizing that no matter where I went I always tried to solve problems with my mind rather than my body, I decided to learn how to program.
            Since acquiring this skill, which I've come to thoroughly enjoy, the tech world has become a place I want to spend my time and to which I also want to contribute my knowledge.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
