<div class="layout-container">
  <nav class="nav has-shadow">
    <div class="nav-left nav-item">
      <img src="/images/favicon.png" alt="Ben Lee logo" />
    </div>
    <div class="nav-center">
    <a class="nav-item" href="https://www.github.com/benrl91/">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
      <span class="subtitle hide is-hidden-touch">
        http://github.com/BenRL91
      </span>
    </a>
    <a class="nav-item" href="#">
      <span class="icon">
        <i class="fa fa-envelope-o"></i>
      </span>
      <span class="subtitle hide is-hidden-touch">
        benlee.eelned@gmail.com
      </span>
    </a>
    <a class="nav-item" href="#">
      <span class="icon">
        <i class="fa fa-mobile"></i>
      </span>
      <span class="subtitle hide is-hidden-touch">
        862-432-6657
      </span>
    </a>
  </div>
    <span class="nav-toggle" ng-click="vm.showMenu()" ng-hide="vm.menuStatus">
       <span></span>
       <span></span>
       <span></span>
     </span>
     <div class="nav-right nav-menu">
       <a class="nav-item" href="/#/">
         Home
       </a>
       <a class="nav-item" ng-click="vm.scrollTo('about')">
         About
       </a>
       <a class="nav-item" ng-click="vm.scrollTo('portfolio')">
         Portfolio
       </a>
       <a class="nav-item one-line" ng-click="vm.scrollTo('top-five')">
         My Top Fives
       </a>
       <span class="nav-item">
          <a class="button is-light" target="_self" href="/images/BenLee-Resume.pdf" download="Resume.pdf">           <span class="icon">
             <i class="fa fa-download"></i>
           </span>
           <span>
              Download My Resume
          </span>
         </a>
       </span>
     </div>
  </nav>
  <div class="menu" ng-mouseleave="vm.hideMenu()" ng-show="vm.menuStatus">
      <aside class="menu">
        <p class="menu-label is-large">
          Navigation
        </p>
        <ul class="menu-list">
          <li><a href="/#/Home">Home</a></li>
          <li><a ng-click="vm.scrollTo('about')">About</a></li>
          <li><a ng-click="vm.scrollTo('portfolio')">Portfolio</a></li>
          <li><a ng-click="vm.scrollTo('top-five')">My Top Fives</a></li>
        </ul>
        <p class="menu-label">
          Contact Me
        </p>
        <ul class="menu-list">
          <li>
            <ul>
              <li><a class="is-paddingless" href="http://www.github.com/BenRL91">Github</a></li>
              <li>benlee.eelned@gmail.com</li>
              <li>862-432-6657</li>
            </ul>
          </li>
      </aside>
  </div>
  <div ui-view></div>
  </div>
