<div class="portfolio-container hero">
    <h1 class="title hero has-text-centered is-success">
      My Work
    </h1>
    <div class="hero-body">
      <portfolio-project
        ng-repeat="project in vm.projects"
        name={{project.name}}
        alt={{project.alt}}
        image={{project.image}}
        demo={{project.demo}}
        github={{project.github}}
        modal-title={{project.modalTitle}}
        modal-img={{project.modalImg}}
        role={{project.role}}
        description={{project.description}}
        detailed-description={{project.detailedDescription}}>
      </portfolio-project>
  </div>
</div>
