<div class="project-container">
  <div class="pop-container">
    <div class="card">
      <div class="card-image project">
        <div class="project-overlay is-overlay has-text-centered" ng-click="activateModal()">
        <span class="icon">
          <i class="fa fa-search-plus"></i>
        </span>        </div>
        <figure class="image is-16by9">
          <img ng-src="{{ image }}" alt="{{ alt }}">
        </figure>
      </div>
      <header class="card-header">
      <div class="media-content">
        <p class="title is-5 has-text-centered">{{ name }}</p>
        <p class="subtitle is-6 has-text-centered"> {{role.length > 9 ? "Project Roles:" : "Project Role:"}} {{ role }}</p>
      </div>
    </header>
      <div class="card-content">
        <div class="content has-text-centered">
          {{ description }}
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item" ng-href="{{demo}}">
          <span class="icon">
            <i class="fa fa-laptop"></i>
          </span>
          Demo
        </a>
        <a class="card-footer-item" ng-href="{{github}}">
        <span class="icon">
          <i class="fa fa-code-fork"></i>
        </span>
          View Code
        </a>
      </footer>
    </div>
  </div>
  <div class="modal" ng-class="modalActivated ? 'is-active' : ''">
  <div class="modal-background" ng-click="deactivateModal()"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">{{ modalTitle }}</p>
        <button class="delete" ng-click="deactivateModal()"></button>
      </header>
      <section class="modal-card-body">
        <img class="bordered" ng-src="{{ modalImg }}" alt="{{ alt }}" />
        <p class="modal-content bordered">
             {{ detailedDescription }} 
        </p>
      </section>
    </div>
  </div>
</div>
